<div class="modal-header">
    <h4 class="modal-title">Class - </h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss(0)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4" style="border-right: black solid 1px;">
            <h3>Details</h3>
            <hr/>
        </div>
        <div class="col-md-8">
            <h3>Bookings</h3>
            <hr/>
        </div>
    </div>
</div>
