<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-6">
        <h3>Members</h3>
      </div>
      <div class="col-6">
          <div class="float-right">
              <button class="btn btn-primary" size="small" type="button" nbButton status="primary" (click)="importMember()">
                  <img src="https://img.icons8.com/office/24/000000/xls-import.png" /> Import Members
              </button>
              <button class="btn btn-primary" size="small" type="button" nbButton status="primary" (click)="createMember()">
                  <img src="https://img.icons8.com/dusk/24/000000/plus-math.png"> Create Member
              </button>

          </div>
        
      </div>
    </div>
</nb-card-header>

  <nb-card-body>
      <ngx-member-list [facilityId]="facilityId" [hasPackage]="haspackage"></ngx-member-list>
   
  </nb-card-body>
</nb-card>
