<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-6">
        <h3>Packages</h3>
      </div>
      <div class="col-6">
          <div class="float-right">

              <button class="btn btn-primary" size="small" type="button" nbButton status="primary" (click)="createPackage()">
                  <img src="https://img.icons8.com/dusk/24/000000/plus-math.png"> Create Package
              </button>

          </div>
        
      </div>
    </div>
</nb-card-header>

  <nb-card-body>
      <dx-data-grid [dataSource]="packageDataSource"
                    [remoteOperations]="true"
                    showBorders="true"
                    showRowLines="true"
                    rowAlternationEnabled="true"
                    [(selectedRowKeys)]="selectedRows">
          <dxo-export [enabled]="true" fileName="Packages" [allowExportSelectedData]="false"></dxo-export>
          <dxo-search-panel [visible]="true"
                            [width]="240"
                            placeholder="Search..."></dxo-search-panel>
          <dxo-selection mode="single"></dxo-selection>
          <dxi-column dataField="name" [width]="250"></dxi-column>
          <dxi-column dataField="priceString" caption="Price"></dxi-column>
          <dxi-column dataField="classLimit" caption="Booking Limit"></dxi-column>
          <dxi-column dataField="limitTypeString" caption="Package Type"></dxi-column>
          <dxi-column dataField="minimumMonths" caption="Contract Length(Months)"></dxi-column>
          <dxi-column caption="Actions" [allowSorting]="false" [width]="100" cellTemplate="actionTemplate"></dxi-column>
          <dxo-paging [pageSize]="20"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true"
                     [allowedPageSizes]="[10, 20, 50]"></dxo-pager>
          <div *dxTemplate="let data of 'actionTemplate'">
              <a class="btn btn-primary  btn-block float-right" [routerLink]="['/pages/package/package-details']" [queryParams]="{id: data.data.packageId}">View</a>
          </div>
      </dx-data-grid>
   
  </nb-card-body>
</nb-card>
