<div class="row mb-2">
  <div class="col-xl-12">
    <div class="float-left">
        <h3>Staff - {{staffModel.fullName}}</h3>
    </div>
    <div class="float-right">


      <button class="btn btn-sm btn-primary" status="primary" (click)="manageStaff()">
        <fa-icon icon="pencil-alt"></fa-icon> Edit
      </button>

    </div>
  </div>
</div>

<div class="row">


  <div class="col-xl-12">
    <nb-card>
      <nb-card-body>
          <nb-tabset>

              <nb-tab tabTitle="Class Schedule">
                  <ngx-calendar-element  [facilityId]="facilityId" [trainerId]="id"></ngx-calendar-element>
              </nb-tab>
              <nb-tab tabTitle="Classes">
                  <ngx-class-list [facilityId]="facilityId" [trainerId]="id"></ngx-class-list>
              </nb-tab>

          </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>
